---
import qr from '../assets/qr.svg';
---

<main>
  <img src={qr.src} alt="" fetchpriority="high" />
  <h1>Improve your front-end skills by building projects</h1>
  <p>Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
</main>


