.qr-code {
	background: var(--cl-neutral-100);
	display: grid;
	width: 90%;
	max-width: 20rem;
	margin: auto;
	padding: 1rem 1rem 2.5rem;
	border-radius: 1.25rem;
	box-shadow: 0 1.563rem 1.563rem 0 rgba(0, 0, 0, 0.0477);
}

.qr-code__image-wrapper {
  border-radius: .625rem;
  margin: 0 0 1.5rem;
  background: var(--cl-neutral-600);
  aspect-ratio: 1;
}

.qr-code__image {
  margin: 4rem auto 0;
}

.qr-code__heading {
	font: var(--ty-heading);
	color: var(--cl-neutral-800);
	margin: 0 .5rem 1rem;
}

.qr-code__copy {
	font: var(--ty-body);
	color: var(--cl-neutral-500);
	letter-spacing: .012em;
	margin: 0 .5rem;
}
