---
import qr from '../assets/qr.svg';
import './QrCode.css'
---

<main>
  <section class="qr-code">
    <figure class="qr-code__image-wrapper">
      <img class="qr-code__image" src={qr.src} alt="QR code linking to Frontend Mentor website" fetchpriority="high" />
      <figcaption class="htc">Scan this QR code to visit the Frontend Mentor website.</figcaption>
    </figure>
    <h1 class="qr-code__heading">Improve your front-end skills by building projects</h1>
    <p class="qr-code__copy">Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
  </section>
</main>


