.qr-code {
	background: var(--cl-neutral-100);
	display: grid;
	width: 90%;
	max-width: 20rem;
	margin: auto;
	padding: 1rem 1rem 2.5rem;
	border-radius: 1.25rem;
	box-shadow: 0 1.563rem 1.563rem 0 rgba(0, 0, 0, 0.0477);
}

.qr-code__image-wrapper {
  border-radius: .625rem;
  margin: 0 0 1.5rem;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
  background: var(--cl-neutral-700);
}

.qr-code__image-wrapper::before, 
.qr-code__image-wrapper::after {
  content: '';
  aspect-ratio: 1;
  border-radius: 100%;
  background: var(--cl-neutral-600);
  display: block;
  position: absolute;
  z-index: 0;
}

.qr-code__image-wrapper::before {
  width: 328px;
  left: -131px;
  top: -164px;
}

.qr-code__image-wrapper::after {
  width: 270px;
  left: 131px;
  top: 204px;
}

.qr-code__image {
  position: relative;
  margin: 4rem auto 0;
  z-index: 1;
}

.qr-code__heading {
	font: var(--ty-heading);
	color: var(--cl-neutral-800);
	margin: 0 .5rem 1rem;
}

.qr-code__copy {
	font: var(--ty-body);
	color: var(--cl-neutral-500);
	letter-spacing: .012em;
	margin: 0 .5rem;
}
